<app-sidenav></app-sidenav>
<div class="container p-5">
  <!-- Articulo-->
  <div class="card">
    <div class="row g-0 p-4">
      <div class="col-md-4">
        <img src="{{articulo.image}}" class="card-img-top" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{articulo.titulo}}</h2>
          <p class="card-text">{{articulo.resumen}} <br> {{articulo.descripcion}}</p>
        </div>
      </div>
      <!-- caso 0-->
      <div class="container mt-4" *ngIf="id==='0'">
        <h3 class="card-title">Componentes de la ciencia</h3>
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100 border-primary">
              <div class="card-body">
                <p class="card-text">Representado por
                  los científicos y por
                  todo el personal
                  que colabora con
                  los fines de la
                  actividad científica.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-success">
              <div class="card-body">
                <p class="card-text">Conjunto de
                  relaciones que, en
                  el marco del
                  trabajo, relaciones
                  entre las
                  sociedades, los
                  grupos y equipos
                  de trabajo,
                  universidades, etc.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-warning">
              <div class="card-body">
                <p class="card-text">Comprende
                  procesos para
                  generar los
                  conocimientos
                  teóricos,
                  metodológicos,
                  prácticos u otros se
                  manifiesta por
                  medios formales e
                  informales.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-info">
              <div class="card-body">
                <p class="card-text">Comprende
                  instrumentos,
                  equipos u otros
                  elementos que
                  constituyen
                  herramientas que
                  los científicos
                  utilizan en el marco
                  del desarrollo la de
                  actividad científica.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- caso 1 -->
      <div class="container mt-4" *ngIf="id==='1'">
        <h3 class="card-title">Términos</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-4">
          <div class="col">
            <div class="card h-100 border-primary">
              <div class="card-body">
                <p class="card-text">La Tecnología aplicada de forma lógica y ordenada, permiten al individuo cambiar su
                  entorno material o virtual para satisfacer sus necesidades, esto es, un proceso combinado
                  de pensamiento y acción con la finalidad de crear soluciones útiles.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-success">
              <div class="card-body">
                <p class="card-text">Una aplicabilidad de ese conocimiento a las
                  actividades humanas o saber hacer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-warning">
              <div class="card-body">
                <p class="card-text">Una finalidad utilitaria, conducente a obtener
                  resultados o saber hacer cosas útiles.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- caso 2-->
      <div class="container mt-4" *ngIf="id==='2'">
        <h3 class="card-title">Características</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100 border-primary">
              <div class="card-body">
                <p class="card-text">La sociedad actual es una sociedad que vive inmersa en un mundo donde
                  prácticamente todo lo que nos rodea es de alguna manera un producto de la
                  ciencia y la tecnología.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-warning">
              <div class="card-body">
                <p class="card-text">Se da un fenómeno hoy en la sociedad que esta presente en todo contexto: el
                  riesgo. Asociados con el uso de artefactos tecnocientíficos.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-success">
              <div class="card-body">
                <p class="card-text">Tal situación, y la magnitud y naturaleza de los riesgos que hoy debemos
                  afrontar, hace necesario el desarrollo de nuevos enfoques éticos como el
                  “principio de responsabilidad”.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- caso 3-->
      <div class="container mt-4" *ngIf="id==='3'">
        <div class="row row-cols-1 g-4 py-4">
          <div class="col">
            <h4 class="card-subtitle">¿A qué da respuesta la Ciencia, Tecnología y Sociedad (CTS) desde el punto de
              vista de la
              Organización de Estados Iberoamericanos (OEI)?</h4>
            <br>
            <p>La concepción clásica de la relación entre ciencia y tecnología con la sociedad es una
              concepción esencial y triunfalista que se puede resumir en una simple ecuación, el llamado
              "modelo de desarrollo lineal": Ciencia =+ Tecnología =+ riqueza =+ bienestar social.
              Esta vista es común en diferentes estancias de la ciencia y los medios. Aplicando el método
              científico y cumpliendo con un código de responsabilidad profesional, se espera que la
              ciencia produzca la acumulación de conocimiento objetivo sobre el mundo.
            </p>
          </div>
        </div>
        <div class="row row-cols-1 g-4 py-4">
          <div class="col">
            <div class="card h-100">
              <h3 class="card-title">Diferencia entre ciencia y tecnología</h3>
              <div class="card-body">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Tema</th>
                    <th scope="col">Diferencia</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Por su antigüedad</td>
                    <td>La ciencia, es un método de observación del mundo ya que permite a través de ella lograr los
                      descubrimientos trazados desde los tiempos antiguos.
                      La tecnología, tiene su origen empezando desde el desarrollo de las técnicas y saberes científicos
                      del
                      ser humano.
                    </td>
                  </tr>
                  <tr>
                    <td>Nivel de autonomía</td>
                    <td> La ciencia es autónoma ya que persigue sus propios rumbos y no requiere en principio de la
                      tecnología para proseguir su camino. La tecnología, sin embargo, es muy dependiente de las otras
                      ciencias para obtener dicho resultado.
                    </td>
                  </tr>
                  <tr>
                    <td>Su metodología</td>
                    <td> La ciencia normalmente se desarrolla en un plano teórico, de análisis y deducción, en cuanto a
                      la tecnología, es mucho más práctica.
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 g-4 py-4">
          <div class="col">
            <h4 class="card-subtitle">Diferencia entre la técnica y la tecnología.</h4>
            <br>
            <p>La tecnología es el medio que utilizamos para alcanzar un objetivo, mientras que la técnica es el
              proceso que aplicamos a la tecnología para poder alcanzarla.
            </p>
          </div>
        </div>
        <div class="row row-cols-1 g-4 py-4">
          <div class="col">
            <h4 class="card-subtitle">¿Por qué unas tecnologías levantan grandes polémicas sociales, mientras que otras se
              adoptan masivamente sin más? </h4>
            <br>
            <p>Esto ocurre debido al origen del estudio de ese desarrollo tecnológico, el cual podría ser a través
              de la experimentación con seres vivos en caso de ser en el ámbito médico o a través de
              experimentación en localidades físicas secretas tal como la invención de la bomba atómica que
              provocó miles de millones de muertes y contaminación ambiental a gran escala. En cambio
              nuevas tecnologías como herramientas con mayor duración de usabilidad o resistencia, que ha
              sido un gran aporte en el ámbito industrial y agricultor.
            </p>
          </div>
        </div>
      </div>
      <!-- caso 4-->
      <div class="container mt-4" *ngIf="id==='4'">
        <div class="row row-cols-1 g-4 py-4">
          <div class="col">
            <h4 class="card-subtitle">¿Cuál es el objetivo del trabajo ingenieril?</h4>
            <br>
            <p>El objetivo primordial del trabajo ingenieril es de realizar diseños o proporcionar
              soluciones tecnológicas a todas las necesidades sociales, industriales o económicas. Para
              ello debe identificar y comprender los problemas más importantes para poder realizar un
              diseño eficiente. Conocer los principios que son fundamentales detrás de la acción y
              desempeño humano que tienen una mayor relevancia para el desarrollo de principios
              ingenieriles de diseño.
            </p>
          </div>
        </div>
        <div class="row row-cols-1 g-4 py-4">
          <div class="col">
            <h4 class="card-subtitle">¿Cuál es la esencia de la ingeniería?</h4>
            <br>
            <p>Las diversas ramas que tiene la Ingeniería poseen distintos orígenes y objetivos particulares,
              que presentan un grado distinto de contacto con la naturaleza y sus leyes. En estos últimos
              años la incidencia de la tecnología ha sido de gran importancia en la influencia de los
              métodos y técnicas sistematizados en todas las actividades humanas que hace de las
              funciones (y sus características) la suficiente nitidez de la Ingeniería respecto a otras
              profesiones.
            </p>
          </div>
        </div>
        <div class="row row-cols-1 g-4 py-4">
          <div class="col">
            <h4 class="card-subtitle">¿Cuáles son las denominaciones básicas para la ingeniería en el Ecuador?
              <br>¿En la Universidad ECOTEC?</h4>
            <br>
            <p>La ingeniería es un campo amplio que se divide en varias disciplinas y subdisciplinas. Las
              disciplinas de la ingeniería se pueden dividir en cuatro categorías principales: química,
              ingeniería civil, ingeniería eléctrica e ingeniería mecánica. Cada disciplina principal le da una
              "muestra" de las diversas habilidades y conocimientos necesarios para trabajar en un campo
              relacionado con la disciplina.
            </p>
            <p>En la Universidad Ecotec encontramos las siguientes categorías: Ingeniería Industrial,
              Ingeniería en Software, Ingeniería en TI, Ingeniería en Agronomía. También están las áreas
              de estudio mas centralizadas en la Física y las Matemáticas para el estudio de la geografía
              de la tierra como lo es la Geofísica.
            </p>
          </div>
        </div>
        <div class="row row-cols-1 g-4 py-4">
          <div class="col">
            <h4 class="card-subtitle">¿Cuál es la utilidad de la Ingeniería al campo de la ciencia, la tecnología y la
              sociedad? </h4>
            <br>
            <p>La Ingeniería, la aplicación de la ciencia a la óptima conversión de los recursos de la
              naturaleza a los usos de la humanidad. El campo ha sido definido por el Engineers Council
              for Professional Development, en los Estados Unidos, como la aplicación creativa de
              “principios científicos para diseñar o desarrollar estructuras, máquinas, aparatos o procesos
              de fabricación, o trabajos que los utilicen individualmente o en combinación; o para
              construir u operar el mismo con pleno conocimiento de su diseño; o pronosticar su
              comportamiento en condiciones operativas específicas; todo en lo que respecta a la función
              prevista, la economía de funcionamiento y la seguridad de la vida y la propiedad ".
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

