<app-sidenav></app-sidenav>
<div class="main-container container">
  <div class="bg-light p-5 rounded-lg container my-3 banner">
    <h1 class="display-4" style="font-weight: 600">{{titulo_header}}</h1>
    <p class="lead" style="font-weight: 500">{{descripcion_header}}</p>
    <hr class="my-4">
    <button class="btn btn-outline-dark"> Mas información</button>
  </div>
  <div class="container my-3">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-sm py-4">
              <h3 class="card-title mb-3" style="font-weight: 500">Video: Ciencia y Sociedad</h3>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" height="500px" width="100%"
                        src='https://canal.uned.es/iframe/5a6f3b42b1111f1b4b8b4616'
                        allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-sm py-4">
              <h3 class="card-subtitle mb-3" style="font-weight: 500">Contenido de la materia</h3>
              <ngx-extended-pdf-viewer [src]="'assets/docs/contenido_materia_tys.pdf'" useBrowserLocale="true"
                                       height="60vh" [page]="12"></ngx-extended-pdf-viewer>
            </div>
          </div>
        </div>
        <!--<iframe src='https://canal.uned.es/iframe/5a6f3b42b1111f1b4b8b4616' id='pumukitiframe' frameborder='0'
                border='0' width='560' height='315' allowfullscreen></iframe>

        <div class="container-fluid">
          <h3 class="card-subtitle" style="font-weight: 500">Contenido de la materia</h3>
          <br>
          <ngx-extended-pdf-viewer [src]="'assets/docs/contenido_materia_tys.pdf'" useBrowserLocale="true"
                                   height="80vh" [page]="12"></ngx-extended-pdf-viewer>
        </div>-->
      </div>
    </div>
  </div>
</div>



