@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
/********************* R E S E T *************************/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}
*:before,
*:after {
  box-sizing: border-box;
}
img{
  border: none;
  border-radius: 3px;
}

a{
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
a:hover{
  color: #B82924;
}
p{
  margin-bottom: 8px;
  font-weight: 300;
}
::-moz-selection {
  background-color: #B82924;
  color: #fff;
}

/* Works in Safari */
::selection {
  background-color: #B82924;
  color: #fff;
}


