.banner{
  h1{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: rgb(0,0,0);
  };
  p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fd7e14;
  }
}
.example-container {
  height: 500px;
}
