<!--<div class="container mt-3">
  &lt;!&ndash; Header &ndash;&gt;
  <div class="p-3 px-5 banner">
    <h1>{{titulo_header}}</h1>
    <p>{{descripcion_header}}</p>
  </div>
</div>-->
<div class="main-container">
  <div class="bg-light p-5 rounded-lg container my-3 banner">
    <h1 class="display-4">{{titulo_header}}</h1>
    <p class="lead">{{descripcion_header}}</p>
    <hr class="my-4">
  </div>
  <div class="container my-3">
    <div class="row">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>



