footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  div{
    padding: 30px;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    list-style: none;
  };
  a{
    color: #fff;
  }
}
