<app-sidenav></app-sidenav>
<div class="container p-5">
  <div class="row text-start pb-3">
    <div class="col d-flex justify-content-center align-items-center flex-column">
      <form class="w-100 p-3">
        <button class="btn btn-outline-danger" [routerLink]="'/articulos'">
          <i class="fa fa-arrow-left"></i>
          Volver
        </button>
      </form>
    </div>
  </div>
  <h1 class="titulo-seccion">{{titulo}}</h1>
  <div class="d-flex justify-content-center" *ngIf="isResultsLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="articulos.length <=0">
    <div class="col-md-12">
      <div class="alert alert-info">
          No existen resultados de la búsqueda: {{termino}}
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    <!--  Card  -->
    <div class="col" *ngFor="let articulo of articulos; let i=index">
      <div class="card h-100">
        <img src="{{articulo.image}}" class="card-img-top" alt="{{articulo.titulo}}">
        <div class="card-body">
          <h5 class="card-title">{{articulo.titulo}}</h5>
          <p class="card-text">{{articulo.resumen}}</p>
          <br>
          <div class="d-grid gap-2">
            <button [routerLink]="['/articulo',articulo.idx]"  type="button" class="btn btn-outline-warning">
              Ver más...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

